html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header, section, footer {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, black, gray);
    color: white;   
    padding: 0px;
}

header {

  color: white;   
  padding: 4%;
  font-size: larger;
}


nav {
    display: flex;
    justify-content: center;
    list-style: none;
    line-height: 0%;
    gap: 80px;
}

.Footer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;  
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 80%;         
    margin: 0 auto;
    margin-bottom: 0.9%   
}

.Footer1 ul li {
  list-style: none
}

.Footer1 a, .Footer1 a:visited {
  color: rgb(255, 255, 255);           
  text-decoration: none;  
}

.Footer1 a:hover, .Footer1 a:active {
  color: #cc2c00;        
  text-decoration: underline; 
}


.FooterImg {
  display: flex;
  justify-content: center;
}

.FooterImg a img{
  width: 40px;
  margin: 1.5%;
  margin-bottom: 1.5%;
}

.FooterImg a {
  margin: 1%;
}

.ColumnaFooter {
  margin-bottom: 2%;
  margin-right: 4%
}

.Logo {
    display: block;
  margin: 0 auto;   
  height: auto;
}

.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

.carrusel img {
  transition: transform 0.3s ease;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: 300px;
  flex-shrink: 0;
}

.carrusel img:hover{
  transform: scale(1.6);
}

.catalogo {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
  
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.producto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.producto img:hover {
  transform: scale(1.3);
}

.producto h2 {
  margin-top: 18%;
  text-align: center;
  color: white;
}

.producto h3 {
  margin-top: -2%;
}

.populars {
    display: flex;
    color: white;
    margin-top: 4%;
}

nav a,
nav a:visited {
  color: rgb(255, 255, 255);           
  text-decoration: none;  
}

nav a:hover, nav a:active {
  color: #cc2c00;        
  text-decoration: underline; 
}

.Envios {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-size: large;
  padding: 5%;
}

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    
}

.Marcas img {
    width: 25%;              
    aspect-ratio: 14 / 11;      
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.Marcas img:hover{
  transform: scale(1.1);
}

.seccion1 {
  margin-bottom: 5%;
}

.FooterImg img {
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.FooterImg img:hover{
  transform: scale(1.1);
  
}

.Formulari {
  background-color: rgba(255, 255, 255, 0.05); 
  border: 2px solid #ccc;                     
  border-radius: 10px;                       
  padding: 30px;
  width: 60%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 5%;
}

.Formulari input[type="text"],
.Formulari textarea {
  width: 110%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #222;
  color: white;
  font-family: "Quantico", sans-serif;
}

.Formulari input[type="button"],
.Formulari .boton_enviar {
  background-color: #cc2c00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Formulari input[type="button"]:hover,
.Formulari .boton_enviar:hover {
  background-color: #ff3d00;
}

.Formulari input[type="submit"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #222;
  color: white;
  font-family: "Quantico", sans-serif;
}