html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, #ffe4f0, #ffffff);

}


.raleway-lletra {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.parallax {
    background-image: url(https://st1.uvnimg.com/b3/7a/7ceb26542da4c748ee177ffd02e3/blackpink-black-pink-40670892-1920-1080.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Titol img{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    margin-left: 1%;
    margin-top: 1%;
}

.Disc {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Disc img{
    display: flex;
    position: static;
    width: 25%;
}

.Disc audio {
    margin-top: 2rem;
    outline: none;              
    border-radius: 10px;        
    padding: 5px;
    background-color: #f69999;     
    box-shadow: 0 4px 10px rgb(255, 141, 198);
    margin-top: 10%;
}

.img-blackpink img{
    width: 90%;
}

.img-blackpink {
    display: flex;
    flex-direction: row;
}

.img1, .img2, .img3 {
    text-align: center;
    width: 100%;
}

.llista {
    background-color: #fff0f5;
    padding: 2rem;
    margin: 2rem auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(255, 105, 180, 0.3);
    font-family: 'Arial', sans-serif;
    color: #000000;
}

.llista h2 {
    color: #ff69b4;
    font-size: 1.8rem;
    margin-bottom: 16px;
    text-align: center;
    border-bottom: 2px solid #13040c;
    padding-bottom: 8px;
}

